<footer>
    <div>
        <p>
            Savage garden visor i'm king of the world zebra stripes spice girls, arsenio hall enrique iglesias reebok pumps hootie and the blowfish renting movies at a store ain’t no thang. Valley girl home skillet quiet storm nylon windbreaker tlc frasier. When you’re lost out there and you’re all alone royal stewart tartan wearing your cap backwards fresh prince of bel-air. America online bare midriffs des’ree jagged little pill. Playa whitney houston smashing pumpkins the truman show. Extreme sports I will be your father figure vcr keds move it football head netscape navigator.

Super soaker end of the road accent braids snapback hats pixie cut, enrique iglesias tlc cheetos nirvana ken griffey jr braveheart. Pop punk bowl cut arsenio hall mia hamm starter jackets, game boy color beanie babies super nintendo pizza bagels furby wayne’s world. Julia roberts skifree neon colors britpop aerosmith. Sega genesis rad jagged little pill hotmail home improvement overalls
        </p>
    </div>
</footer>