<div class="row" id="mainheader">
    <div class="col-4"><a href=# class="title_span">Clinton Lang</a></div>
    <div class="col-8">
        <nav role="navigation" class="main_nav">
            <ul>
                <li><a href=#home>Home</a></li>
                <li><a href=#about-me>About</a></li>
                <li><a href=#demo>Demo</a></li>
                <li><a href=#resume>Resume</a></li>
                <li><a href=#contact>Contact Me</a></li>
            </ul>   
        </nav>
    
    </div>
</div>
