<div class="videoreel">
    <div>
        <h1>Acting Demo</h1>           
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe>
    </div>
</div>
<div class="audioreel">
    <h1>Voice Demos</h1>
    <div id="voice-demo-container">
       <h2>Commercial Reel</h2>
        <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
            <h2>Character Reel</h2>
            <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>
    </div>
</div>
