
<div class="resume" id="resume">
    <h1>Resume</h1>
    <div id="resume-container">
        <div id="resume-sidebar">
            <img width="267px" src="assets/img/ClintonLang_Headshot_267_x_400.jpg" alt="Clinton Lang Resume Image">
            <div>
                <h3>Contact Info</h3>
                <ul>
                    <li>Vancouver, BC</li>
                    <li>clinton@clintonlang.com</li>
                </ul>
                <h3>Vitals</h3>
                <ul>
                    <li>Birth Year: 1984</li>
                    <li>Race: Caucasian</li>
                    <li>Eyes: Blue</li>
                    <li>Hair: Brown</li>
                    <li>Height: 5&rsquo;8&rdquo; / 172cm</li>
                    <li>Weight: 180lbs / 81kg</li>
                </ul>
            </div>
        </div>
        <div id="resume-main">
            <div>
                <h1>Clinton Lang</h1> </br>
                <h2>Actor: Voice/TV/Film</h2>
            </div>
            <div>
                <h3>Voice Experience</h3>
                
                <p>Into The History Room, Taz - Voice Actor</p>
                <p>Five Minute Productions - James Woodland</p>
            </div>
            <div>
                <h3>Training/Workshops</h3>
                <h4>The Vancouver Actor’s Drop-in</h4>
                <p>A weekly theatrical cold reading workshop</p>
                <h4>Vancouver Improv Practice</h4>
                <p>A weekly workshop focusing on improvisational acting exercises</p>
            </div>
            <div>
                <h3>Additional Skills</h3>
                <ul>
                    <li>Improv</li>
                    <li>Dance (swing, modern, ballet)</li>
                    <li>Wilderness Survival</li>
                    <li>Programming</li>
                    <li>Software Project Management</li>
                    <li>Some Internet of Things (arduino/raspberry pi hobbyist)</li>
                    <li>Statistics</li>
                    <li>Psychology (Bachelors)</li>
                    <li>Familiarity with Archery and Firearms</li>         
                </ul>
            </div>
        </div>
    </div>
</div>