<section id="demo" class="section">
    <div class="row">
        <div class="col-6">
            <div>
                <h1>Acting Demo</h1>           
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe>
            </div>
        </div>
        <div class="col-6">
            <div>
                <h1>Voice Demos</h1>
                <h2>Commercial Reel</h2>
                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
                  <h2>Character Reel</h2>
                  <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio>
            </div>
        </div>
    </div>
</section>