<section id=contact>
    <div class="row"> 
        <div class="col-6">
            <div class="container">
                <form name="contact-form" action="https://app.99inbound.com/api/e/WSMnPJqd" method="POST" autocomplete="on" target="_blank">
                    <label for="contact_name">Your Name</label>
                    <input id="contact_name" type="text" name="name" placeholder="Name"></br>

                    <label for="contact_email">Your Email</label>
                    <input id="contact_email" type="email" name="email" placeholder="Email"></br>

                    <label for="contact_msg">Your Message</label>
                    <textarea id="contact_msg"></textarea>      </br>
                    
                    <button>Submit</button>
                </form>
                <div style="position: absolute; left: -5000px;">
                    <input type="checkbox" name="grandpas_taupe_paisley_spider" value="1" tabindex="-1" autocomplete="no">
                </div>
            </div>
        </div>
    </div>
</section>