<div class="contact">
    <h1>Contact Info</h1>
    <p>Email: <a href="mailto:contact@clintonlang.com">contact@clintonlang.com</a></p>        
</div>
<div class="contactform">
    <h1>Contact Me</h1>
    <div class="container">
        <form name="contact-form" action="https://app.99inbound.com/api/e/WSMnPJqd" method="POST" autocomplete="on" target="_blank">
            <label for="contact_name">Your Name</label>
            <input id="contact_name" type="text" name="name" placeholder="Name">

            <label for="contact_email">Your Email</label>
            <input id="contact_email" type="email" name="email" placeholder="Email">

            <label for="contact_msg">Your Message</label>
            <textarea id="contact_msg" placeholder="What's up?"></textarea>
            
            <input type="submit">
        </form>
        <div style="position: absolute; left: -5000px;">
            <input type="checkbox" name="grandpas_taupe_paisley_spider" value="1" tabindex="-1" autocomplete="no">
        </div>
    </div>
</div>
