<div class="headshot">
    <picture>
        <source media="(max-width:600px)" srcset="/assets/img/ClintonLang_Headshot_267_x_400.jpg">
        <img src="/assets/img/ClintonLang_Headshot_600_x_900.jpg" alt="Clinton Lang Headshot">
    </picture> 
</div>
<div class="aboutme" id="about-me">
    <h1>About Me</h1>
    <p>Hi there!  I'm Clinton Lang, a budding film and voice actor.
    Growing up I've had a passion for both acting and voicework whether it's been acting workshops, improv groups, or just amusing friends with character voices playing DnD.
    Now I am starting to take that passion to the next level.
    </p>
</div>
